<div class="wrapper">
    <div class="abs-center wd-lg">
        <!-- START panel-->
        <div class="text-center mb-xl">
            <div class="text-lg mb-lg">401</div>
            <p class="lead m0">You do not have access to view this page</p>
            <p>Please contact your <b>manager</b> or <b>this application’s owner</b> and have them submit a System Access request on your behalf.</p>
        </div>
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>{{ settings.app.year }}</span>
        </div>
    </div>
</div>
